.main {
    display: flex;
    position: relative;
    margin-top: 10%;
    margin-left: 7.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-edit {
    display: flex;
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
}


.labels {
    font-size: 20px;
}

.edit-info {
    padding-right: 37.5%;
    padding-left: 10%;
}

.avatar {
    width: 80%;
    height: 90%;
}

.personal-info {
    margin-left: 10%;
}


.email-pos {
    padding-top: 20%;
    padding-bottom: 2rem;
}

.btn-primary {
    margin-bottom: 1rem;
    margin-left: 27%;
}

.btn-edit {
    margin-bottom: 1rem;
}

.delete-acc {
    padding-left: 60rem;
    padding-right: 15rem;
}

.change-btns {
    margin-top: 1rem;
    margin-left: 47%;
}

.list-group {
    max-height: 300px;
    min-width: 200px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.panel-primary {
    margin-left: 15%;
}
