@using Circular.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .main {
        display: flex;
        position: relative;
        margin-top: 15%;
        margin-left: 7.5%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .labels {
        font-size: 20px;
    }

    .edit-info {
        padding-right: 37.5%;
        padding-left: 10%;
    }

    .avatar {
        width: 80%;
        height: 90%;
    }

    .personal-info {
      margin-left:10%;
    }


    .email-pos {
        padding-top: 10%;
        padding-bottom: 2rem;
    }

    .btn-primary {
        margin-top: 10%;
    }

    .btn-edit {
        margin-bottom: 1rem;
    }

    .delete-acc {
        padding-left: 60rem;
        padding-right: 15rem;
    }



    .about-us {
        margin-left: 20%;
        min-width: 20%;
        max-width: 30%;
    }
    .log-or-reg {
        position: absolute; 
        width: 400px; 
        height: 300px; 
        left: 50%; 
        top: 50%; 
        margin-left: -211px; 
        margin-top: -150px; 
        
        overflow: auto;
    }
</style>

@if (User.Identity.IsAuthenticated)
{

    <div class="main">

        <div class="personal-info">
            <a style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px" type="button" class="btn btn-primary" asp-controller="Project" asp-action="CreateProject">Start new project</a><br>
            <a style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px;" type="button" class="btn btn-primary">Join to project</a><br>
            <a style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px;" type="button" class="btn btn-primary" asp-controller="Profile" asp-action="Profile">My Profile</a>
        </div>
        <div class="about-us">
            <h3 style="margin-left: 25%;">About us</h3>
            <p>The application allows the conditional teacher to keep track of each stage of student project development on GITHUB, he will receive notifications about each commit, each project and given the opportunity to go to GITHUB on the link.</p>

        </div>

    </div>

}
else
{
<div align="center" class="log-or-reg">
    <a style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px" class="btn btn-primary" asp-controller="Account" asp-action="Login">Вхід</a><br>
    <a style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px" class="btn btn-primary" asp-controller="Account" asp-action="Register">Реєстрація</a>
</div>
}
