@{
    ViewData["Title"] = "Commits";
}

@foreach(var element in ViewBag.Commits)
            {
<h1>@element.commit.message</h1>
<p>@element.commit.author.name</p>
<p>@element.commit.author.date</p>
            }
