@model Circular.Models.ViewModels.CreateProjectModel

@{
    ViewData["Title"] = "Create Project";
}

<style>
    .create-project-info {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -125px;
    }
</style>

<div class="create-project-info" style="text-align: center;">
    <form method="post" asp-controller="Project" asp-action="CreateProject">
        <h3>Create your project</h3>
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label style="margin-top:5%" asp-for="Name">Enter a name for your project</label><br />
            <input asp-for="Name" />
        </div>

        <div>
            <input style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px; margin-top: 3%" class="btn btn-primary" type="submit" value="Create project" />
        </div>
    </form>
</div>