@model Circular.Models.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "DeleteProject";
}


<style>
    .delete-project {
        position: absolute;
        width: 500px;
        height: 300px;
        left: 50%;
        top: 50%;
        margin-left: -311px;
        margin-top: -150px;
        overflow: auto;
    }
</style>

<h3 style="text-align: center;">Confirm the deletion of the @Model.Name project?</h3>
<div class="delete-project">
    <div style="margin-left: 17%; margin-top: 5%">
        @using (Html.BeginForm("DeleteProject", "Project"))
        {

            <div style="display:none">@Html.EditorForModel()</div>
            <div class="form-actions no-color">
                <input style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px" type="submit" value="Delete" class="btn btn-default" />
                <a style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px" class="btn btn-primary" asp-controller="Profile" asp-action="Profile">Back</a>
            </div>
        }
    </div>
</div>
